{% extends "base.html" %}
{% block content %}
    <section>
        <h3><center>Record your speech</center></h3>
        <div class="container-md">
            <button class="btn btn-primary" id="button">Record audio</button>
            <button class="btn btn-outline-danger" id="stop">Stop</button>
            <button class="btn btn-outline-warning" onclick="hesitation_markers()">Show filler words</button>
        </div>
        

        <!-- <h2>Output:</h2> -->
        <center><samp id="output"></samp></center>
    </section>
    <script src="../static/watson-speech.js"></script>

    <script>
    document.querySelector('#button').onclick = function() {
    fetch("{{ url_for('token')}}")
        .then(function(response) {
        return response.json();
        })
        .then(function(token) {
        var stream = WatsonSpeech.SpeechToText.recognizeMicrophone(Object.assign(token, { // eslint-disable-line
            outputElement: '#output', // CSS selector or DOM Element
            format: false // This is to turn off smart_formatting 
        }));

        stream.on('error', function(err) {
            console.log(err);
        });

        document.querySelector('#stop').onclick = function() {
            stream.stop();
            
            let text = document.getElementById("output").innerHTML;
            var file_name = "NA"
            var transcript = text
            var method = "Live"

            $.ajax({
              type: "POST",
              url : "/speech",
              traditional: "true",
              dataType: "json",
              data: JSON.stringify({file_name, transcript, method})
            });
        };
        })
        .catch(function(error) {
        console.log(error);
        });
    };

    function hesitation_markers() {
        
        let text = document.getElementById("output").innerHTML;
        let newText = text.replaceAll("%HESITATION", "<mark>%HESITATION</mark>");
        document.getElementById("output").innerHTML = newText;
      
      }
    </script>

<style type="text/css">

    .highlight {
      background-color: yellow;
    }
  
    mark { 
      background-color: yellow;
      color: black;
    }
  
    .container-md {
      text-align: center;
    }
  
  </style>
{% endblock %}