<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Speech recognition in python</title>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div id="speechContainer">
            <!--header file -->
            <h1> Upload new file </h1> 
            <!--The form has 2 component, enctype is multipart/form bc we upload a file -->
            <!--GET : receiving data, POST : taking data from user input, send it to another destination -->
            <!--POST here, we want to take the file and display the speech to text -->
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <br>
                </br>   
                <input type="submit" value="Transcript" />
            </form>

            <!--Using jinja, if transcript does not empty, show me h1 Speech to text -->
            <!--Otherwise, dont show me Speech To Text -->
            {% if record != " " %}

            <div id="speechTranscriptContainer">
                <h1> Speech to Text</h1>
                <p>{{record}}</p>
            </div>
            {% endif %}
        
        </div>

    </body>
</html>